

body {
  font-family: helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  background-color: rgb(54, 54, 54);
}
div {
  height: 200px;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
p {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  line-height: 28px;
  position: absolute; /* breaks the regular flow of the paragraph */
  bottom: 0; /* puts the paragraph zero pixels from the botton*/
  margin: 0;
  background-color: black;
  height: 50px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
}
.first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("discs.jpeg");
  background-size: cover;
}
.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bags.jpg");
  background-size: cover;
}
.third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("socialMedia.png");
  background-size: cover;
  height: 325px;
}

.show-description p {
  height: 150px;
}

.show-description #hidden {
  opacity: 1;
}
.show-description #click {
  opacity: 0;
}

h1 {
  font-family: "Londrina Shadow", cursive;
  font-size: 50px;
  text-align: center;
  color: #aaaaaa;
}

#header2 {
  color: #bbbbbb;
  text-align: center;
  margin-top: -10px; /* The space between the main header and header two is made smaller */
}
#click {
  text-align: justify;
  font-size: larger;
}
#hidden {
  opacity: 0;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  /* h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  } */
  /* div {
    margin: 20px 12px 0 12px;
  } */
  p {
    font-size: 20px;
    line-height: 24px;
  }
}
